:root {
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-red: #ff0000;

  --txt-clr: var(--clr-black, #000000);
  --bg-clr: var(--clr-white, #ffffff);

  --ff-main: "Inter", sans-serif;
  --ff-accent: "Press Start 2P", fantasy;
  
  --bg-img: repeating-linear-gradient(
      to left,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

  --heart-body: none;
  --heart-border: var(--txt-clr, #000000);
  --heart-spark: var(--clr-red, #ff0000);

  --fw-base: 400;
  --fw-bold: 700;

  --btn-txt: var(--bg-clr, #fff);
}
